html {
	scroll-padding-top: 7rem; /*This number will need to be changed at some point*/
}

body {
	font-family: Lato;
	font-size: 12pt;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body {
    min-height: 100%;
}

h3 {
	text-align: center;
}

.sidenav {
	height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 12rem; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	right: 0;
	background-color: #888888;
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 20px;
}

.main {
	margin-left: 3.5%;
	padding: 1rem;
	width: calc(100% - 20rem);
}

.sidenav a {
	text-decoration: underline;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.dropdown .closed img {
	rotate: 0deg;
}

.dropdown .open img {
	rotate: 90deg;
}

.dropdown img {
	width: 0.9rem;
	height: 0.9rem;
}

.dropdown {
	list-style-type: none;
	padding-left: 1rem;
}

.closed .dropdown_element {
	display: none;
}

.open .dropdown_element {
	display: inherit;
}

.dropdown_element li {
	list-style-type: disc;
}

.dropdown_element {
	list-style-type: none;
}

#header {
	position: sticky;
	top: 0;
	text-align: center;
	padding: 1rem 0 1rem 0;
	background-color: black;
	color: white;
	width: calc(100% - 12rem);
}

#header h1 {
	margin: 0 0 0rem 0;
}

.inlineImage {
	width: 100%;
}

.elementPair {
	display: flex;
	flex-wrap: nowrap;
	padding: 1rem 0;
}

.elementPair>div.left {
	flex-grow: 1;
	flex-shrink: 0;
	margin: 0 1rem 0 0;
	flex-basis: calc(50% - .5rem);
}

.elementPair>div.right {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: calc(50% - .5rem);
}

.elementPair>div>img {
	width:100%
}

.elementPair>div>p {
	margin-top: 0;
}

.content {
	border-width: 2px;
	border-color: #888888;
}

.section {
	display: inline-block;
	font-size: 18pt;
	font-weight: bold;
	width: 100%;
	text-align: center;
}